{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} What are you looking for? {% endblock %}</h2>
<form method="post">
    <textarea name="content" placeholder="Query content" rows="15" cols="60">{{ request.form['content'] }}</textarea>
    <br>
    <select name="method">
        <option value="plot_vector_1024">Search on full summary</option>
        <option value="plot_summary_vector_1024">Search on brief summary</option>
    </select>
    <br><br>
    <button type="submit">Submit</button>
</form>

{% if data %}
<h2>Suggested Movies</h2>
{% for message in data %}
<div class='message'>
    <h3>{{ message.title }}</h3>
    <p>in {{ message.year }} by {{ message.director }} ({{ message.wiki_link }})</p>
    <p>{{ message.plot_summary }}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}