{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} What are you looking for?{% endblock %}</h2>
<p>
    This is a demo service that suggests movies based on the semantic search. <br />
    It uses AI to understand the input query and determines what movies are close to the search content. <br />
    Each movie has a full of summary (plot) and a short summary (brief introduction).<br />
    Current database was up to 2017. Updates will be available soon.<br />
</p>
<br />

<form method="post" action="#suggested_result">
    <textarea name="content" placeholder="What is your idea?" rows="3" class="textcontent"
        cols="60">{{ request.form['content'] }}</textarea>
    <br>
    <select name="method">
        <option value="plot_vector_1024">Search on full summary</option>
        <option value="plot_summary_vector_1024">Search on brief summary</option>
    </select>
    <br><br>
    <button type="submit" class='glowing-btn'><span class='glowing-txt'>Suggest<span class='faulty-letter'>
                me!</span></span> </button>
</form>

{% if data %}
<br />
<h2 id="suggested_result">Suggested Movies</h2>
<ol style="--length: {{ data|length }}" role=" list">
    {% for i, message in data.items() %}
    <li style="--i: {{ i }}">
        <h3>{{ message.title }}</h3>
        <p>in {{ message.year }} by {{ message.director }} (<a href="{{ message.wiki_link }}">Wikipedia link</a>)<br />
            {{ message.plot_summary }}</p>
    </li>
    {% endfor %}
</ol>
{% endif %}

{% endblock %}